* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
  }

header {
      font-size: 20px;
      padding: 10px 0 10px 0;
      background-color: #4e3c2a;
  }
  
header a {
      text-decoration: none;
      color: white;
  }

header li {
      border: white solid 2px;
      background-color: #a07a55;
      list-style: none;
      float: left;
      padding: 10px 15px 10px 15px;
      margin: 0 10px 0 0;
  }

li:hover {
      background-color: #f4a460;
    }
    
li:active {
        background-color: #4e3c2a;
    }

li:focus {
    outline: none;
    box-shadow: white 0px 0px 20px 5px;
}

.social-media-list li {
      border-radius: 100%;
      float: right;
    }
.social-media-list li:first-of-type {
    margin: unset;
}
    
footer {
    padding: 10px 20px 10px 20px;
    background-color: #4e3c2a;
    color: white;
  }
    
main h1 {
      font-size: 30px;
      padding-top: 20px;
      padding-bottom: 5px;
      text-align: center;
  }
main h2 {
      font-size: 24px;
      padding: 15px 20px 15px 20px;
  }

.joke:first-of-type {
      float: left;
      max-width: 50%;
    }

.joke:nth-of-type(2) {
    padding-bottom: 125px;
}

section:last-of-type {
    float: left;
  }

.riddles h2 {
    float: left;
}
    
.joke p {
    padding: 5px 20px 5px 20px;
  }

.talking::before{
      content: "- ";
  }

table {
    width: 820px!important;
    border-spacing: 0px;
    padding: 0px 20px 20px 20px;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

tr, td, th {
    border: black solid 1px;
    padding: 10px 5px 10px 5px;
}

td:nth-of-type(2):focus-within {
    background-color: #f4a460;
}

label {
    margin-right: 10px;
}

div {
    display: flex;
}

input {
    flex-grow: 1;
}

input:valid {
    border: green solid 2px;
}

input:invalid {
    border: red solid 2px;
}

.riddle-table thead {
    background-color: #a07a55;
    color: white;
    text-align: left;
}

.riddle-table tbody tr:nth-child(even) {
    background-color: #DDDDDD;
}

button {
    background-color: #a07a55;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    float: right;
}

button:focus {
    outline: none;
    border: #4e3c2a solid 2px;
}

button:hover {
    background-color: #f4a460;
}